[submodule "user_service"]
	path = user_service
	url = https://github.com/abasilashvili/UserService
	branch = main
[submodule "project_service"]
	path = project_service
	url = https://github.com/abasilashvili/ProjectService
	branch = main
[submodule "post_service"]
	path = post_service
	url = https://github.com/abasilashvili/PostService
	branch = main
[submodule "payment_service"]
	path = payment_service
	url = https://github.com/abasilashvili/PaymentService
	branch = main
[submodule "notification_service"]
	path = notification_service
	url = https://github.com/abasilashvili/NotificationService
	branch = main
[submodule "analytics_service"]
	path = analytics_service
	url = https://github.com/abasilashvili/AnalyticsService
	branch = main
[submodule "achievement_service"]
	path = achievement_service
	url = https://github.com/abasilashvili/AchievementService
	branch = main
[submodule "account_service"]
	path = account_service
	url = https://github.com/abasilashvili/AccountService
	branch = main
[submodule "url_shortener_service"]
	path = url_shortener_service
	url = https://github.com/abasilashvili/UrlShortenerService
	branch = main
